.project-name {
    margin-top: 40px;
    font-size: 24px;
    font-family: 'Balsamiq Sans';
    text-transform: uppercase;
    width: 50%;
}
.project-data {
    width: 50%;
    text-align: right;
    font-size: 17px;
    font-family: 'Balsamiq Sans';
}
.project-information {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
}
.project-description {
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Balsamiq Sans';
    width: 100%;
}
.project-link {
    margin-top: 25px;
    text-decoration: none;
    font-family: 'Balsamiq Sans';
}

.project-image {
    margin: 25px 15px 25px 30px;
    width: 300px;
    height: 100%;
}