.social-btn {
    padding-top: 17px;
    padding-bottom: 18px;
    width: 280px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    font-family: Montserrat,sans-serif;
    font-size: 21px;
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    position: relative;
    -webkit-transition: .4s;
    transition: .4s;
}

.social-btn i{
    position: absolute;
    left: 25px;
}