.contacts {
    margin-top: 70px;
}
.social {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-item {
    margin-right: 25px;
    margin-top: 35px;
}