.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
}
.navbar-item-text {
    color: #8D81AC;
    text-decoration: none;
    padding: 19px 25px;
    transition: 0.5s;
}
.navbar-item {
    list-style: none;
    font-size: 18px;
    font-family: 'Balsamiq Sans';
}

.navbar-item-text:hover {
    color:#fff;
}